modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "CodeCraft IDE"

[[workflows.workflow]]
name = "CodeCraft IDE"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd forsure/IDE && GOOGLE_OAUTH_CLIENT_ID=\"29533527207-eh0v13lufsota61u3227rj8anuecleru.apps.googleusercontent.com\" GOOGLE_OAUTH_CLIENT_SECRET=\"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\" python app.py"
waitForPort = 3000

[[ports]]
localPort = 3000
externalPort = 80
