modules = ["python-3.11", "nodejs-20", "java-jdk"]

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 43992305
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd IDE && pip install -r requirements.txt && python3 app.py"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 80
